<main class="responsive max center-align title">
    <div class="small-height"></div>

    <div class=" medium no-padding center-align top-align">
        <div class="padding">
{{ .Content }}
        </div>
    </div>
    <div class="large-space"></div>
    <div class="large-space"></div>
    <div class="grid center-align">
        <div class="s12 m6 l6">
            <img class="xsmall-height xsmall-width" src="/images/logo.jpg" loading="lazy">
        </div>
        <div class="s12 m6 l6">
            <img src="/images/zatsit_logo_noir.svg" class="xsmall-height xsmall-width" loading="lazy"/>
        </div>
    </div>
</main>
{{ template "notes" . }}
